@charset "UTF-8";
/*SCSS Document */

@import 'reset';
@import 'mixins';
@import 'fluid-type';
@import 'lightbox';

/*@include font-face(Ogg,  "../font/OggRoman");*/
@include font-face(SharpThin, "../font/SharpGrotesk-Thin20");
@include font-face(SharpLight, "../font/SharpGrotesk-Light20");
/*@include font-face(SharpReg, "../font/SharpGrotesk-Book20");*/

/* === MAIN ==== */

$Ogg: 'Ogg', serif;
$SharpThin: 'SharpThin', sans-serif;
$SharpLight: 'SharpLight', sans-serif;
$SharpRegular: 'SharpReg', sans-serif;

/* === Primary Colours === */

$dark: #000;
$light: #fff;

/* === Layout ===*/

$margin-left-outer: 8vw;
$margin-right-outer: 10vw;
$margin-top-outer: 3vh;
$margin-bottom-outer: 3vh;
$margin-left-inner: 6vw;
$margin-right-inner: 6vw;
$margin-top-inner: 6vh;
$margin-bottom-inner: 3vh;

$min_width: 320px;
$max_width: 1200px;

/* === Typography === */

$min_font: 14px;
$max_font: 20px;

.wf-loading a {
	visibility: hidden;
}

a {
	background-color: $light;
    border-radius: 12px;
	color: $dark;
	font-family: $SharpThin;
	text-decoration: none;
	visibility: visible;
}
/*
div a:hover, footer a:hover {
	display: inline-block;
	transition: vibration 0.2s ease-in;
}*/

body {
	font-family: $SharpLight;
	line-height: 1.5em;
	width: 100%;
    //height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
	touch-action: initial;
}

body > * {
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
}

body.loading {
	overflow: 	hidden;
}
body.loading .loader {
	display: 	block;
}

canvas {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	touch-action: none;
}

div#menu {
	margin-top: 4vh;
}

div#div-mid-head {
	margin-top: 20vh;
	z-index: 3;
}

div#nojs-div-mid-head {
	margin-top: 20vh;
	left: 8vw;
	z-index: 3;
}

div#upper {
	padding: $margin-top-outer 0;
	position: fixed;
	width: 100%;
}

div#nojs-menu {
	margin-top: 4vh;
	margin-left: 8vw;	
}

div#works-list {
	margin-top: 4vh;
}

div#nojs-works-list {
	margin-top: 4vh;
	margin-left: 8vw;
}

div#works-section {
	position: absolute;
    top: 19vh;
	margin-bottom: 8vw;
    z-index: 1;
}

.fixed {
	position: fixed;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 3vh;
}

footer a, .small {
	font-family: $SharpThin;
	font-size: 0.8em;
}

footer #right {
	position: absolute;
	right: 1vw;
}

.wf-loading * {
	//cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" style="font-family: SharpGrotesk-Thin20; font-size: 30px;"><text y="22">&#8593;</text></svg>'), auto;
	visibility: hidden;
}

.wf-active *, .wf-inactive * {
	//cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" style="font-family: SharpGrotesk-Thin20; font-size: 30px;"><text y="22">&#8593;</text></svg>'), auto;
	animation: fade-in 0.6s ease-in-out;
	visibility: visible;
}

.hide {
	display: none!important;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    transition: fade-in 0.3s ease-out;
}

img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    transition: fade-in 0.3s ease-in;
}

p.is-loading {
	border: solid rgba(240, 240, 240, 1) 1px;
	width: 100%;
	height: 50vw;
  	background: rgba( 255, 255, 255, 0.8 ) url('../data/images/loader_full_2.gif') 48% 50% no-repeat;
	margin-bottom: 2.4vh;
}

p.is-loading[src*="/data/img/"] {
	animation: fade-out 0.3s ease-out;
}

.invert {
	filter: invert(100%);
}

.loader {
	margin: 	0!important;
    display: 	none;
    position: 	fixed;
    z-index: 	5;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 ) url('https://www.typerror.altervista.org/scss/../data/images/loader_full_2.gif') 48% 50% no-repeat;
}

li h1 {
	display: inline;
	background-color: $light;
    border-radius: 12px;
}
/*
li#back {
	font-family: 'SharpLight', sans-serif;
	//font-size: 1.2em;
}*/

li#back span {
	padding: 0 6px;
	margin-right: 6px;
	background: #fff;
	border-radius: 12px;
}

.light {
	font-family: 'SharpLight', sans-serif;
}

#logo {
	width: 60px; //calcolo logo media queries
    height: auto;
    padding: 0;
}

.wf-loading .light {
	visibility: hidden;
}

.wf-active .light, .wf-inactive .light {
	visibility: visible;
	font-family: $SharpLight;
}

li.work-list {
	margin-bottom: 2.4vh;
}

#menu-next-ajax {
	position: fixed;
	top: 62vh;
	z-index: 4;
	animation: fade-in 0.6s ease-in-out;
}

#menu-next-next-ajax {
	position: fixed;
	top: 62vh;
}

noscript {
	font-family: 'SharpLight', sans-serif;
}

.portfolio-immagine {
	width: 100%;
	margin-bottom: 2.4vh;
}

.portfolio-paragrafo {
	width: 100%;
	margin-bottom: 2.4vh;
}

.relative {
	position: relative;
}

.rotating {
	display: inline-block;
  	animation: rotating 1.6s linear infinite;
	transform-origin: 50% 50%;
}

.rotating-inverse {
	display: inline-block;
  	animation: rotating-inverse 1.6s linear infinite;
	transform-origin: 50% 50%;
}

.show {
	display: block;
}

.no-touch {
	transition: filter 0.2s;
	transition-timing-function: ease;
	filter: invert(0);
}

.no-touch:hover, .no-touch:active, .touch.over {
	transition: filter 0.2s;
	transition-timing-function: ease;
	filter: invert(1);
}

.thin {
	font-family: 'SharpThin', sans-serif;
}

.wf-loading .thin {
	visibility: hidden;
}

.wf-active .thin, .wf-inactive .thin {
	visibility: visible;
	font-family: $SharpThin;
}

ul#head {
	display: flex;
	align-items: center;
	z-index: 2;
}

ul#menu-ul {
	line-height: 1.8em;
}
/*
ul#mid-head {
	margin-top: 11vh;
}*/

ul#head li:nth-child(3), ul#head li:nth-child(4), ul#head li:nth-child(5){
	margin-left: $margin-left-inner;
	margin-top: 1vh;
}

ul#mid-head li:nth-child(1), ul#mid-head li:nth-child(3) {
	margin-bottom: $margin-bottom-inner;
}

ul#mid-head li:nth-child(2){
	margin-bottom: 1vh;
}

ul#nojs-mid-head li:nth-child(1), ul#nojs-mid-head li:nth-child(3) {
	margin-bottom: 3vh;
	margin-left: 8vw;
}

ul#nojs-mid-head li:nth-child(2){
	margin-bottom: 1vh;
	margin-left: 8vw;
}

video {
	width: 42vw;
	height: auto;
}

.vibration:hover {
	display: inline-block;
	transform: scale(1, -1);
  	//animation: vibration 0.25s linear infinite;
	animation: transform 0.25s linear 1;
	transform-origin: center;
	cursor: default;
	//animation-iteration-count: 1;
}

.vibration:focus, .vibration:active, .vibration:focus-within {
	display: inline-block;
	transform: scale(1, -1);
	transform-origin: center;
	//animation-iteration-count: 1;
}

.work-list {
	line-height: 1.8em;
	list-style: none;
	margin-bottom: 2vh;
}

#works-list-ajax {
	margin-top: 19vh;
    margin-bottom: 18vh;
    overflow: auto;
}

#nojs-works-list-ajax {
	margin-top: 19vh;
	margin-left: 8vw;
    margin-bottom: 18vh;
    overflow: auto;
}

.work {
	font-size: 1.5em;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

/* === ANIMATION === */

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-in {
	0% {
		transform: translate(-90vw,0);
	}
	100% {
		transform: translate(0,0);	
	}
}

@keyframes slide-out {
	0% {
		transform: translate(90vw,0);
	}
	100% {
		transform: translate(0,0);
	}
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotating-inverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
// old
@keyframes vibration {
	0% {
		transform: translate(0, -5px);
	}
	25% {
		transform: translate(0, 5px);
	}
	50% {
		transform: translate(0, -6px);
	}
	75% {
		transform: translate(0, 4px);
	}
	100% {
		transform: translate(0, -5px);
	}
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 767px) {
	ul#head li:nth-child(3), ul#head li:nth-child(4), ul#head li:nth-child(5) {
		display: none;
	}
	.lb-nav a.lb-prev, .lb-nav a.lb-next {
		background-size: 58px;
	}
	.lb-data .lb-close {
		background-size: 26px;
		width: 26px;
		height: 26px;
	}
	p.is-loading{
		height: 50vw;
	}
}

@media screen and (min-width: 768px) {
	ul#head li:nth-child(3), ul#head li:nth-child(4), ul#head li:nth-child(5)  {
		display: none;
	}
	
	div#works-section {
    position: absolute;
    top: 19vh;
    left: 40vw;
    margin-bottom: 8vw;
    z-index: 1;
}
	.lb-nav a.lb-prev, .lb-nav a.lb-next {
		background-size: 58px;
	}
	.lb-data .lb-close {
		background-size: 30px;
		width: 30px;
		height: 30px;
	}
	p.is-loading{
		height: 30vw;
	}
	.titolo-progetto {
 	position: fixed;
     left: $margin-left-outer;
 }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
	#works-list-ajax {
    	margin-top: 38vh;
    	margin-bottom: 18vh;
    	overflow: auto;
	}
	div#div-mid-head {
		display: none;
	}
	ul#head li:nth-child(3), ul#head li:nth-child(4)  {
		display: inline-block;
	}
	div#works-list {
    margin-top: 38vh;
	}
	div#works-section {
    top: 38vh;
}
	
}

@media screen and (orientation: landscape) and (max-height: 500px) and (min-width: 767px) {
	#works-list-ajax {
    	margin-top: 38vh;
    	margin-bottom: 18vh;
    	overflow: auto;
	}
	div#div-mid-head {
		display: none;
	}
	ul#head li:nth-child(3), ul#head li:nth-child(4), ul#head li:nth-child(5)  {
		display: inline-block;
	}
	div#works-list {
    margin-top: 38vh;
	}
	p.is-loading {
		height: 26vw;
	}
	.titolo-progetto {
 	position: fixed;
     left: $margin-left-outer;
 }
}
/*
@media screen and (min-width: 1921px) {
	.portfolio-immagine {
		width: 50%;
		float: right;
	}

	.portfolio-paragrafo {
		width: 50%;
		display: inline-flex;
	}

}*/